# Python
__pycache__/
*.py[cod]
*.class

# Sistema
.DS_Store
Thumbs.db
*.log

# Entornos virtuales
venv/
.venv/

# Archivos de configuración
*.env 
*.ini
*.cfg

# Archivos de base de datos
*.db
*.sqlite
# Archivos de migración
migrations/

