# Python
__pycache__/
*.py[cod]
*.class

# Sistema
.DS_Store
Thumbs.db
*.log

# Entornos virtuales
venv/
.venv/
Dockerfile

# Archivos de configuración
*.env 
*.cfg

# Archivos de base de datos
*.db
*.sqlite

#HERRAMIENTAS DEV
.test_vm_env/usr/bin/lspci
.test_vm_env/etc/os-release
.test_vm_env/usr/bin/systemd-detect-virt
.test_vm_env/usr/bin/sudo
.vscode/

